@import 'connection-statistics';

.dashboard-card {
  margin: 15px;
  max-width: calc(100% - 30px);

  .card.mt-3 {
    max-width: 500px;
    margin: 0 auto;
  }
}

.records {
  font-size: 14px;
  cursor: default;

  thead {
    background-color: #007bff;
  }

  th {
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
  }

  td {
    font-size: 13px;
  }
}

.toast-body {
  word-break: break-all;
}
