
button:focus {
  outline: none;
}

a, input[type='button'] {
  outline: none;
}
a, input[type='button']::-moz-focus-inner {
  border: 0;
}



.button--back-navigation{
  cursor: pointer;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 20px;

  &:hover {
    background-color: #fff;
    svg {
      fill: #36D7B7;
    }
  }
}
