.navbar-demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(34, 99, 195);
  background: linear-gradient(90deg, rgba(34, 99, 195, 1) 0%, rgba(45, 253, 230, 1) 100%);

}

//user menu widget

.user-menu-widget {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-weight: 600;
  }
}

.m-dropdown {
  position: relative;
  z-index: 2;

  &-top {
    background: #3333;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      border-radius: 50%;
      height: 2.5rem;
      width: 2.5rem;
    }

    &.show {
      img {
        border: 2px $primary solid;
      }

    }
  }

  &-logout {
    position: absolute;
    top: 3rem;
    text-align: center;
    right: -2rem;
    width: 13rem;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);

    p {
      padding: 0.4rem;

      img {
        margin: 0.4rem 0 -0.4rem 0 ;
        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
        background-color: rgba(0, 0, 0, 0.04);
        cursor: pointer;
      }

      &>* {
        margin: 0 0.5rem;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 1rem;
      outline: none;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      background: transparent;
      color: #000;

      &>* {
        margin: 0 0.5rem;
      }


    }

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }
}