@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';

@import 'pages/landing';
@import 'fonts';
@import 'typography';
@import 'animations';
@import 'inputs';
@import 'buttons';
@import 'navbar';
@import 'layouts';
@import 'loaders';
@import 'tables';
@import 'cards';
