.landing {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}

.landing__connect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-weight: 400;
  font-size: 1.2rem;
  background-color: #fff;
  // border-radius: $border-radius;


  p{
    font-size: 0.9rem;
  }

  & > * {
    margin: 0.5rem 0 0.7rem 0;
  }
} 
.landing__btn {
  border: none;
}