.landing {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}
.landing__btn {
  width: 200px;
  height: 200px;
  background-color: rgba(242, 243, 243, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  &:hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
    border-radius: 50%;
  }

  img {
    width: 100px;
    animation: heartbeat 2.5s ease-in-out infinite both;
  }
}
